<header>
    <div class="top-header-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 text-center">
                    <nav class="main-menu">
                         <ul>
                             <li {% if request.path =='/' %}class="current-list-item" {% endif %}><a href="/">Home</a></li>
                             <li {% if request.path =='/about' %}class="current-list-item" {% endif %}><a href="/about">About</a></li>
                             <li {% if request.path =='/darkroom' %}class="current-list-item" {% endif %}><a href="/darkroom">Dark Room</a></li>
                            {% if  session.username %}
                                <li> Welcome back, {{ session.username }}!</li>
                                <li><button onclick="window.location.href='{{'/resign' }}';">Log Out</button></li>
                            {% else %}
                                <li {% if request.path =='/assignment9' %}class="current-list-item" {% endif %}><a href="/assignment9">Assignment 9</a></li>
                            {% endif %}
                             <li {% if request.path =='/assignment10' %}class="current-list-item" {% endif %}><a href="/assignment10">Assignment 10</a></li>
                             <li {% if request.path =='/assignment11/users' %}class="current-list-item" {% endif %}><a href="/assignment11/users">Assignment 11</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="grey-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 offset-lg-0 text-center">
					<div class="grey-text">
							<p class="subtitle">Roy flask project</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>