<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/loader.js"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% include 'Loader.html' %}
    {% include 'header.html' %}
    <h1 class="text-center">WELCOME to my {{ title | default ('Super Cool' ,True)}} page</h1>
    {% block content %} {% endblock %}
    {% include 'footer.html' %}
</body>
</html>